{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
  <section id="slider" data-aos="fade-up">
    <div class="container-fluid padding-side" >
      <div class="d-flex rounded-5"
        style="background-image: url('/static/images/slider-image1.jpg'); background-size: cover; background-repeat: no-repeat; height: 50vh; background-position: center;">
          <div class="row align-items-center m-auto">
            <div class="d-flex flex-wrap flex-column justify-content-center align-items-center">
              <h2 class="display-1 fw-normal">WHO WE ARE</h2>
              <nav class="breadcrumb">
                <a class="breadcrumb-item" href="{% url 'home' %}">Home</a>
                <span class="breadcrumb-item active" aria-current="page">About Us</span>
              </nav>
            </div>
          </div>
      </div>
    </div>
  </section>

  <section id="about-us" class="padding-medium" style="margin-top: -10vh" data-aos="fade-up">
    <div class="vertical-element">
         <div class="container-fluid padding-side">
        <div class="row flex-row-reverse align-items-center">
          <div class="col-lg-6">
            <div class="image-holder text-right">
              <img src={% static "images/nimo/sitted_smiling_larger.jpg" %} alt="about-us" class="img-fluid rounded-4">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="section-element p-2">
              <h3 class="display-3 fw-normal">We Transform Lives Together</h3>
              <p>
                  The Journey of Wellness and Healing is a journey of rediscovery, a journey of transformation, a journey of self-love and self-care. </p>
                <p>
                    At Nimo Wellness, we believe in the power of holistic wellness to transform lives. Our approach is rooted in the philosophy that every individual is unique and requires personalized care.

              </p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section>


    <section id="about-us" class="padding-large" style="margin-top: -15vh">
        <div class="container-fluid padding-side" data-aos="fade-up">
            <h3 class="display-3 text-center fw-normal col-lg-4 offset-lg-4">Our Mission</h3>
            <div class="row align-items-start mt-3 mt-lg-5">
                <div class="col-lg-6">
                    <div class="p-5">
                        <p>
                           At Nimo, We want to help you rebuild your physical, mental, emotional, and social well-being.
                        </p>
                        <p>
                            Our focus is to help you discover your inner Radiance and address the root cause of your health concerns and challenges.
                        </p>
                        <p>

                            Through our Mind, Body, Spirit focused Retreats,
                            <br>
                            We help you Reset, Refocus, Re-adjust, and Restart the Inner you empowering you to live a life of vitality, joy, and purpose.
                        </p>
                    </div>
                    <img src="/static/images/nimo/yoga_outside.webp" alt="img" class="img-fluid rounded-4 mt-4">
                </div>
                <div class="col-lg-6 mt-5 mt-lg-0">
                    <img src="/static/images/nimo/laughing.webp" alt="img" class="img-fluid rounded-4">
                    <img src="/static/images/nimo/lady_healing_cropped(1)(1)(1)(1).png" alt="img" class="img-fluid rounded-4 mt-4 mx-5">
                </div>
            </div>
        </div>
    </section>

  <section id="services" class="padding-medium " style="margin-top: -15vh" >
{#  Achieve Optimal Wellness with Nimo Wellness#}
{#      Tailored Services for Your Holistic Wellness Journey#}
{#                    At Nimo Wellness, we believe in the power of holistic wellness to transform lives.#}
{#                  Our approach is rooted in the philosophy that every individual is unique and requires personalized care.#}
{#                  We offer a range of services including  wellness retreats, nutritional counseling, yoga and meditation, and massage therapy, all designed to help you achieve your wellness goals.#}
{#                  Our team of highly trained professionals is dedicated to supporting you on your journey towards optimal health and wellbeing.#}
        <div class="container-fluid padding-side" data-aos="fade-up">
            <h3 class="display-3 text-center fw-normal col-lg-4 offset-lg-4">What are our Services</h3>
            <p class="text-center col-lg-4 offset-lg-4 mb-5">
                At Nimo, We offer a range of services including wellness retreats, nutritional counseling, yoga and meditation, and massage therapy, all designed to help you achieve your wellness goals.
            </p>
            <div class="row mt-5">

                <div class="col-md-6 col-xl-4">
                    <div class="service mb-4 text-center rounded-4 p-5">
                        <div class="position-relative">
                            <svg class="color" width="70" height="70">
                                <use xlink:href="#meditation"></use>
                            </svg>
                            <img src="/static/images/pattern2.png" alt="img"
                                 class="position-absolute top-100 start-50 translate-middle z-n1 pe-5">
                        </div>
                        <h4 class="display-6 fw-normal my-3">Yoga & Meditation</h4>
                        <p>Rejuvenate your body and mind with our yoga and meditation classes, led by experienced
                            instructors.
                            Whether you're a beginner or an advanced practitioner, our classes cater to all levels and
                            offer a
                            peaceful retreat from the hustle and bustle of the city. With serene surroundings and expert
                            guidance.</p>
{#                        <a href="service-details.html" class="btn btn-arrow">#}
{#              <span class="text-decoration-underline">Read More<svg width="18" height="18">#}
{#                  <use xlink:href="#arrow-right"></use>#}
{#                </svg></span>#}
{#                        </a>#}
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service mb-4 text-center rounded-4 p-5">
                        <div class="position-relative">
                            <svg class="color" width="70" height="70">
                                <use xlink:href="#chef-hat"></use>
                            </svg>
                            <img src="/static/images/pattern2.png" alt="img"
                                 class="position-absolute top-100 start-50 translate-middle z-n1 pe-5">
                        </div>
                        <h4 class="display-6 fw-normal my-3">nutritional counseling</h4>
                        <p>Rejuvenate your body and mind with our yoga and meditation classes, led by experienced
                            instructors.
                            Whether you're a beginner or an advanced practitioner, our classes cater to all levels and
                            offer a
                            peaceful retreat from the hustle and bustle of the city. With serene surroundings and expert
                            guidance.</p>
{#                        <a href="service-details.html" class="btn btn-arrow">#}
{#              <span class="text-decoration-underline">Read More<svg width="18" height="18">#}
{#                  <use xlink:href="#arrow-right"></use>#}
{#                </svg></span>#}
{#                        </a>#}
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service mb-4 text-center rounded-4 p-5">
                        <div class="position-relative">
                            <svg class="color" width="70" height="70">
                                <use xlink:href="#swimming"></use>
                            </svg>
                            <img src="/static/images/pattern2.png" alt="img"
                                 class="position-absolute top-100 start-50 translate-middle z-n1 pe-5">
                        </div>
                        <h4 class="display-6 fw-normal my-3">wellness retreats</h4>
                        <p>Rejuvenate your body and mind with our yoga and meditation classes, led by experienced
                            instructors.
                            Whether you're a beginner or an advanced practitioner, our classes cater to all levels and
                            offer a
                            peaceful retreat from the hustle and bustle of the city. With serene surroundings and expert
                            guidance.</p>
{#                        <a href="service-details.html" class="btn btn-arrow">#}
{#              <span class="text-decoration-underline">Read More<svg width="18" height="18">#}
{#                  <use xlink:href="#arrow-right"></use>#}
{#                </svg></span>#}
{#                        </a>#}
                    </div>
                </div>
{#                <div class="col-md-6 col-xl-4">#}
{#                    <div class="service mb-4 text-center rounded-4 p-5">#}
{#                        <div class="position-relative">#}
{#                            <svg class="color" width="70" height="70">#}
{#                                <use xlink:href="#dumbbells"></use>#}
{#                            </svg>#}
{#                            <img src="/static/images/pattern2.png" alt="img"#}
{#                                 class="position-absolute top-100 start-50 translate-middle z-n1 pe-5">#}
{#                        </div>#}
{#                        <h4 class="display-6 fw-normal my-3">Fitness Center</h4>#}
{#                        <p>Rejuvenate your body and mind with our yoga and meditation classes, led by experienced#}
{#                            instructors.#}
{#                            Whether you're a beginner or an advanced practitioner, our classes cater to all levels and#}
{#                            offer a#}
{#                            peaceful retreat from the hustle and bustle of the city. With serene surroundings and expert#}
{#                            guidance.</p>#}
{#                        <a href="service-details.html" class="btn btn-arrow">#}
{#              <span class="text-decoration-underline">Read More<svg width="18" height="18">#}
{#                  <use xlink:href="#arrow-right"></use>#}
{#                </svg></span>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-6 col-xl-4">#}
{#                    <div class="service mb-4 text-center rounded-4 p-5">#}
{#                        <div class="position-relative">#}
{#                            <svg class="color" width="70" height="70">#}
{#                                <use xlink:href="#armchair"></use>#}
{#                            </svg>#}
{#                            <img src="/static/images/pattern2.png" alt="img"#}
{#                                 class="position-absolute top-100 start-50 translate-middle z-n1 pe-5">#}
{#                        </div>#}
{#                        <h4 class="display-6 fw-normal my-3">massage therapy</h4>#}
{#                        <p>Rejuvenate your body and mind with our yoga and meditation classes, led by experienced#}
{#                            instructors.#}
{#                            Whether you're a beginner or an advanced practitioner, our classes cater to all levels and#}
{#                            offer a#}
{#                            peaceful retreat from the hustle and bustle of the city. With serene surroundings and expert#}
{#                            guidance.</p>#}
{#                        <a href="service-details.html" class="btn btn-arrow">#}
{#              <span class="text-decoration-underline">Read More<svg width="18" height="18">#}
{#                  <use xlink:href="#arrow-right"></use>#}
{#                </svg></span>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-6 col-xl-4">#}
{#                    <div class="service mb-4 text-center rounded-4 p-5">#}
{#                        <div class="position-relative">#}
{#                            <svg class="color" width="70" height="70">#}
{#                                <use xlink:href="#wifi"></use>#}
{#                            </svg>#}
{#                            <img src="/static/images/pattern2.png" alt="img"#}
{#                                 class="position-absolute top-100 start-50 translate-middle z-n1 pe-5">#}
{#                        </div>#}
{#                        <h4 class="display-6 fw-normal my-3">Free Wi-Fi</h4>#}
{#                        <p>Rejuvenate your body and mind with our yoga and meditation classes, led by experienced#}
{#                            instructors.#}
{#                            Whether you're a beginner or an advanced practitioner, our classes cater to all levels and#}
{#                            offer a#}
{#                            peaceful retreat from the hustle and bustle of the city. With serene surroundings and expert#}
{#                            guidance.</p>#}
{#                        <a href="service-details.html" class="btn btn-arrow">#}
{#              <span class="text-decoration-underline">Read More<svg width="18" height="18">#}
{#                  <use xlink:href="#arrow-right"></use>#}
{#                </svg></span>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </section>

    <section id="about-us" class="padding-medium" style="margin-top: -15vh" data-aos="fade-up">
    <div class="vertical-element">
       <div class="container-fluid padding-side">
        <div class="row d-flex align-items-center">
          <div class="col-lg-6">
            <div class="image-holder">
              <img src={% static "images/nimo/relaxed.JPG" %} alt="meet_the_host" class="img-fluid rounded-4">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="section-element p-5">
              <h3 class="display-3 fw-normal">Meet the Host</h3>
              <p>
                    Hello, I'm Nimo, founder of Nimo Wellness. My journey, rooted in Kenya's vibrant landscapes, has woven a tapestry of cultures, adventures, and personal quests for healing.
                  Traveling to over 35 countries fueled my curiosity and growth, yet amidst exploration, I faced postpartum depression, igniting my purpose.
                  Drawing on my nursing background and wellness coaching, I embraced holistic wellness, realizing it as my calling.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>


{#  <section id="vid" class="padding-medium" style="">#}
{#    <div class="container-fluid padding-side">#}
{#      <h3 class="display-3 fw-normal text-center">View our Hotel</h3>#}
{#      <div class="imageblock me-4 position-relative mt-5">#}
{#        <img class="img-fluid" src="images/video.jpg" alt="img">#}
{#        <a type="button" data-bs-toggle="modal" data-src="https://www.youtube.com/embed/W_tIumKa8VY"#}
{#          data-bs-target="#myModal" class="play-btn position-absolute top-50 start-50 translate-middle">#}
{#          <svg class="play-icon" width="70" height="70">#}
{#            <use xlink:href="#play"></use>#}
{#          </svg>#}
{#        </a>#}
{#      </div>#}
{#    </div>#}
{#  </section>#}
{#  <!-- Video Popup -->#}
{#  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"#}
{#    aria-hidden="true">#}
{#    <div class="modal-dialog" role="document">#}
{##}
{#      <div class="modal-content">#}
{##}
{#        <div class="modal-body">#}
{#          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><svg class="bi" width="40"#}
{#              height="40">#}
{#              <use xlink:href="#close-sharp"></use>#}
{#            </svg></button>#}
{#          <div class="ratio ratio-16x9">#}
{#            <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"#}
{#              allow="autoplay"></iframe>#}
{#          </div>#}
{#        </div>#}
{##}
{#      </div>#}
{##}
{#    </div>#}
{#  </div>#}



  {% endblock %}

{#<section id="info">#}
{#    <div class="container">#}
{#      <div class="row">#}
{#        <div class="col-md-3 text-center mb-4 mb-lg-0">#}
{#          <h3 class="display-1 fw-normal text-primary position-relative">25K <span#}
{#              class="position-absolute top-50 end-50 translate-middle z-n1 ps-lg-4 pt-lg-4"><img src={% static "images/pattern1.png" %}#}
{#                alt="pattern" class="img-fluid"></span></h3>#}
{#          <p class="text-capitalize">Happy Customer</p>#}
{#        </div>#}
{#        <div class="col-md-3 text-center mb-4 mb-lg-0">#}
{#          <h3 class="display-1 fw-normal text-primary position-relative">160 <span#}
{#              class="position-absolute top-50 translate-middle z-n1"><img src={% static "images/pattern1.png" %} alt="pattern"#}
{#                class="img-fluid"></span></h3>#}
{#          <p class="text-capitalize">Total Rooms</p>#}
{#        </div>#}
{#        <div class="col-md-3 text-center mb-4 mb-lg-0">#}
{#          <h3 class="display-1 fw-normal text-primary position-relative">25 <span#}
{#              class="position-absolute top-100 pb-5 translate-middle z-n1"><img src={% static "images/pattern1.png" %} alt="pattern"#}
{#                class="img-fluid"></span></h3>#}
{#          <p class="text-capitalize">award wins</p>#}
{#        </div>#}
{#        <div class="col-md-3 text-center mb-4 mb-lg-0">#}
{#          <h3 class="display-1 fw-normal text-primary position-relative">200 <span#}
{#              class="position-absolute top-50 end-50 pb-lg-4 pe-lg-2 translate-middle z-n1"><img src={% static "images/pattern1.png" %}#}
{#                alt="pattern" class="img-fluid"></span></h3>#}
{#          <p class="text-capitalize">Total Members</p>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </section>#}