{% extends 'base.html' %}
{% load static %}

{% block content %}

{% block content %}
  <section id="slider" data-aos="fade-up">
    <div class="container-fluid padding-side">
      <div class="d-flex rounded-5"
        style="background-image: url(/static/images/slider-image1.jpg); background-size: cover; background-repeat: no-repeat; height: 50vh; background-position: center;">
          <div class="row align-items-center m-auto">
            <div class="d-flex flex-wrap flex-column justify-content-center align-items-center">
              <h2 class="display-1 fw-normal">Service-Details</h2>
              <nav class="breadcrumb">
                <a class="breadcrumb-item" href="index.html">Home</a>
                <span class="breadcrumb-item active" aria-current="page">Service-Details</span>
              </nav>
            </div>
          </div>
      </div>
    </div>
  </section>

  <div class="padding-small">
    <div class="container-fluid padding-side">
      <div class="row g-lg-5 ">
        <main class="post-grid col-lg-9">
          <div class="row">
            <article class="post-item">
              <h3 class="display-3 fw-normal mb-5">{{ service.title }}</h3>
{#              <p>{{ service.title_details }}</p>#}
{#              <p>Id pulvinar amet. Consequat potenti mollis massa iaculis et, dolor, eget lectus.#}
{#                Aliquam#}
{#                pellentesque molestie felis fames sed eget non euismod eget. Et eget ullamcorper#}
{#                urna, elit ac diam#}
{#                tellus viverra lacus.</p>#}
              <div class="hero-image mt-5">
                <img src="/static/{{ service.hero_image }}" alt="single-post" class="img-fluid" style="background-color: #0A9CDB" >
              </div>
              <div class="post-content py-5">
                <div class="post-description">
                  <p>{{ service.description }}</p>
                  <blockquote>“Sit suscipit tortor turpis sed fringilla lectus facilisis amet. Ipsum,
                    amet dolor
                    curabitur non aliquet orci urna volutpat. Id aliquam neque, ut vivamus sit
                    imperdiet enim, lacus,
                    vel.</blockquote>
                  <div class="my-5">
                    <h4 class="mb-3">Benefits</h4>
                    <ul class="inner-list list-unstyled">
                        {%  for benefit in service.benefits %}
                            <li><span class="price-tick">✓</span> {{ benefit }}</li>
                        {% endfor %}
                    </ul>
                  </div>

                  <div class="row my-4">
                    <div class="col-md-6">
                      <img src="/static/{{  service.action_1_image.image }}" alt="post-image" class=" img-fluid align-left">
                        <h5 class="text-center mt-3">{{ service.action_1_image.description}} </h5>
                    </div>
                    <div class="col-md-6">
                      <img src="/static/{{  service.action_2_image.image }}" alt="post-image" class=" img-fluid align-right">
                      <h5 class="text-center mt-3">{{ service.action_2_image.description }} </h5>
                    </div>
                  </div>
                  <p> {{ service.assurances}}</p>
                </div>
              </div>
            </article>
          </div>
        </main>
        <aside class="col-lg-3">
          <div class="post-sidebar">

            <div class="widget block-tag mb-5">
              <h4 class="widget-title fw-normal border-bottom pb-3 mb-3">Booking available</h4>
              <p>We have link to our latest Wellness retreat. </p>
              <a href="booking.html" class="btn btn-arrow btn-primary py-2 px-4">
                <span>Book Now <svg width="18" height="18">
                    <use xlink:href="#arrow-right"></use>
                  </svg></span>
              </a>
            </div>

            <div class="widget sidebar-categories mb-5">
              <h4 class="widget-title fw-normal border-bottom pb-3 mb-3">Services Offered</h4>
              <ul class="list-unstyled">

                  {% for title in titles %}
                      <li>
                  <iconify-icon icon="ri:arrow-right-s-line"></iconify-icon><a href="/service/{{ title }}  " class="item-anchor">{{ title }}</a>
                </li>

                  {% endfor %}
              </ul>
            </div>

            <div class="widget sidebar-recent-post mb-5">
              <h4 class="widget-title fw-normal border-bottom pb-3 mb-3">Recent Posts</h4>
              <div class="sidebar-post-item d-flex justify-content-center">
                <div class="row mb-3">
                  <div class="col-md-4">
                    <div class="image-holder">
                      <a href="#">
                        <img src="/static/images/post1.jpg" alt="blog" class="img-fluid">
                      </a>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="sidebar-post-content">
                      <h5 class="post-title fs-5">
                        <a href="#">How to grow mental</a>
                      </h5>
                      <p class=" m-0 lh-base" style="font-size: 14px;">Magnam at iusto omnis impedit minima sunt, aspernatur rem dolorem, dolorum quaerat eius quas ipsum ...</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sidebar-post-item d-flex justify-content-center">
                <div class="row mb-3">
                  <div class="col-md-4">
                    <div class="image-holder">
                      <a href="#">
                        <img src="/static/images/post2.jpg" alt="blog" class="img-fluid">
                      </a>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="sidebar-post-content">
                      <h5 class="post-title fs-5">
                        <a href="#">Top 10 hacks for being mindful </a>
                      </h5>
                      <p class=" m-0 lh-base" style="font-size: 14px;">Magnam at iusto omnis impedit minima sunt, aspernatur rem dolorem, dolorum quaerat eius quas ipsum ...</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sidebar-post-item d-flex justify-content-center">
                <div class="row mb-3">
                  <div class="col-md-4">
                    <div class="image-holder">
                      <a href="#">
                        <img src="/static/images/post3.jpg" alt="blog" class="img-fluid">
                      </a>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="sidebar-post-content">
                      <h5 class="post-title fs-5">
                        <a href="#">Best ways to relax</a>
                      </h5>
                      <p class=" m-0 lh-base" style="font-size: 14px;">Magnam at iusto omnis impedit minima sunt, aspernatur rem dolorem, dolorum quaerat eius quas ipsum ...</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </aside>
      </div>
    </div>
  </div>
{% endblock %}